# ============================================
# DATABASE
# ============================================
POSTGRES_USER=prisma
POSTGRES_PASSWORD=topsecret
POSTGRES_DB=blog
DB_SCHEMA=blog

# ============================================
# BACKEND
# ============================================
BACKEND_PORT=8000

# CORS (comma-separated list of allowed origins)
# For development: http://localhost:3000
# For production: https://yourdomain.com,https://www.yourdomain.com
CORS_ORIGINS=http://localhost:3000

# JWT
JWT_ACCESS_SECRET=nestjsPrismaAccessSecret
JWT_REFRESH_SECRET=nestjsPrismaRefreshSecret
JWT_ACCESS_EXPIRATION=15m
JWT_REFRESH_EXPIRATION=7d

# Logs
ENABLE_LOGS=false

# Email
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=test@gmail.com
SMTP_PASS=testpass
FRONTEND_URL=http://localhost:3000


# ============================================
# FRONTEND
# ============================================
FRONTEND_PORT=3000
VITE_API_URL=http://localhost:8000

# 0auth 
VITE_AUTH0_DOMAIN=test
VITE_AUTH0_CLIENT_ID=test